body{
   background-color: antiquewhite;
}

ul{
padding-left: 0;
margin: 0;
}

.header_titulo{
    display:flex;
    justify-content: center;
    margin-top: 1cm;
    color: rgb(29, 31, 30);
    
}
.formulario-tareas{
    display: flex;
    justify-content: center;
    padding: 0.3cm;
}
.formulario-tareas_input{
    padding: 0.5cm;
    

}
.lista-tareas_tareas{
    display: flex;
    justify-content:space-between;
    margin-top: 1cm;
    margin-right: 8cm;
    margin-left: 5cm;
}

.lista-tareas_contenedor-botones{
    display: flex;
    gap: 0.5cm;
}

.lista-tareas__mensaje{
    display: flex;
    justify-content: center;
    
}
.borrar_todo{
    display:flex;
    justify-content: center;
    margin-top: 1cm;
}
.lista_tareas{
    padding: none;
}

input.formulario-editat-tarea_input{
    display:flex;
    justify-content: center;
}